<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-whitelabel-permissions" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>WhiteLabelPermissions</name>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="WhiteLabelPermissions">
				<param name="android-package" value="cordova-plugin-whitelabel-permissions.WhiteLabelPermissions" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		</config-file>
		<!-- Optionally, register AnalyticsReceiver and AnalyticsService to support background
		      dispatching on non-Google Play devices -->
		 <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
		     android:enabled="true">
		     <intent-filter>
		         <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
		     </intent-filter>
		 </receiver>
		 <service android:name="com.google.android.gms.analytics.AnalyticsService"
		     android:enabled="true"
		     android:exported="false"/>

		 <!-- Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
		      installation campaign reporting -->
		 <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
		     android:exported="true">
		     <intent-filter>
		         <action android:name="com.android.vending.INSTALL_REFERRER" />
		     </intent-filter>
		 </receiver>
		 <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
	</platform>
</plugin>